@charset "UTF-8";

@import 'abstracts/reset';
@import 'abstracts/variables';
@import 'abstracts/hacks';
@import 'abstracts/mixins';

@import 'animations/all';

@import 'base/global';
@import 'base/popups';
@import 'forms/elements/all';
@import 'forms/all';
@import 'components/buttons';
@import 'components/admin-header';
@import 'components/can';
@import 'components/datalist';
@import 'components/driver-notes-popup';
@import 'components/driver-panel';
@import 'components/dropdown';
@import 'components/filter';
@import 'components/header';
@import 'components/history';
@import 'components/router-popup';
@import 'components/switcher';
@import 'components/table';
@import 'components/tabs';
@import 'components/toast/all';
@import 'components/workorder';
@import 'components/workorder-table';
@import 'components/workorder-actions-popup';
@import 'scenes/404';
@import 'scenes/admin';
@import 'scenes/dispatcher';
@import 'scenes/inventory-home';
@import 'scenes/reports';
@import 'scenes/workorders-home';
@import 'scenes/workorders-print';
@import 'scenes/workorders-table';
@import 'vendor/daterangepicker';
@import 'vendor/react-select';
@import 'vendor/react-table';
@import 'vendor/react-tippy';
@import 'vendor/ctx-menu';

.flex-col {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.75rem;
}
h3 {
  font-size: 2.25rem;
}

.ib-title-style {
  background-color: #434343;
  color: #fff;
  margin: 30px 0px 30px 0px;
  padding: 15px 0 15px 0;
}

.ib-right {
  text-align: right;
  font-size: 1.2em;
}

.ib-table {
  table-layout: fixed;
  height: 100%;
  width: 100%;
  margin: 0px !important;
}

.align-center {
  text-align: center;
}

.bold {
  font-weight: 700;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
