.spaceTop {
  margin-top: 28px;
}

.overweightErrorBanner {
  min-height: 36px;
  padding-top: 11px;
}

.errorBanner {
  display: block;
  align-self: center;
  text-align: center;
  position: unset;
  padding: 10px 24px 10px 14px;
}

.modalOverlay {
  width: 100%;
}
