.tableFooter {
  padding: 4px 16px;
  z-index: var(--tableNavigationZindex);

  & td {
    border-top: 1px solid var(--primary-gray);
    padding: 10px 0;
    background-color: white;
  }

  &.sticky td {
    position: sticky;
    bottom: var(--sortableTableHeaderHeight, 0);
    z-index: var(--tableNavigationZindex);
  }
}
