.modal-open {
  overflow: hidden;
}

.popup,
.modal-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  outline: 0;
}

.popup {
  display: none;
  z-index: 1000;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.popup-close {
  position: absolute;
  top: 40px;
  right: 0px;
  @include reset-btn();
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.in {
    display: block;
    opacity: 1;
  }
}

.popup-dialog {
  max-width: 490px;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #fafbfc;
  border-radius: 8px;
  box-shadow: 1px 7px 21px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  padding-bottom: 24px;
}

.dialog-header {
  border-bottom: 1px solid #979797;
  padding: 15px 16px 11px 16px;
  position: relative;
  color: #434343;
  margin-bottom: 21px;
}

.dialog-title {
  font-size: 22px;
  color: #434343;
  text-transform: uppercase;
}

.dialog-body {
  padding-left: 21px;
  padding-right: 21px;
  margin-bottom: 14px;
}

.dialog-footer {
  padding-left: 21px;
  padding-right: 21px;
}

.dialog-nav {
  margin-bottom: -1px;
  font-size: 0px;

  .nav-item {
    background: #e7e7e7;
    border: 1px solid #979797;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px 19px 8px 19px;
    font-size: 14px;
    color: #434343;
    display: inline-block;
    vertical-align: bottom;
    margin-left: -10px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }

    &:last-child {
      z-index: 0;
    }

    &.is-active,
    &.active {
      background: #fafbfc;
      z-index: 2;
      padding: 10px 25px;
      border-bottom: none;
      font-weight: 700;
    }
  }
}
