.autocompleteContainer {
  height: 50px;

  & .autocomplete {
    --box-shadow-base: inset 0 1px 2px 0 hsla(209, 9%, 44%, 0.21),
      inset 0 0 0 1px hsla(209, 9%, 44%, 0.251);
    height: 36px;
    box-shadow: var(--box-shadow-base);
    border: solid 1px #c3cdd5;
  }
}

.jobSiteOverlay {
  width: 100%;
  background: transparent;
  z-index: calc(var(--backgroundOverlayZindex) + 1);
}
