.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  & td {
    padding: 0 10px;
  }

  & .space {
    color: var(--dark-60);
    padding: 0 10px 25px;
  }
}

.activeCheckbox {
  margin-bottom: 25px;
}
