.wrapper {
  width: 100%;
  font-size: 1.75rem;
}

.container {
  position: relative;
  width: 100%;
  height: 36px;
  cursor: pointer;

  &:not(:first-child) {
    margin-top: 5px;
  }
}

.control {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 36px;
  height: auto;
  padding: 0px 36px 8px 4px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  transition: box-shadow 0.1s ease, border-color 0.3s ease, background-color 0.3s ease;
  box-shadow: inset 0 1px 2px 0 hsla(209, 9%, 44%, 0.21), inset 0 0 0 1px hsla(209, 9%, 44%, 0.25);
  background-color: var(--white);
  border-radius: 3px;
  border: solid 1px var(--primary-gray-dark);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  flex-wrap: wrap;

  &:focus,
  &:hover {
    border-color: var(--primary);
    box-shadow: inset 0 1px 2px 0 var(--primary), inset 0 0 0 1px var(--primary);
  }

  &.error,
  &.error:hover,
  &.error:focus {
    border: 1px solid var(--destructive);
    background-color: var(--destructive-desaturated);
    box-shadow: inset 0 1px 2px 0 var(--destructive), inset 0 0 0 1px var(--destructive);
  }

  &.borderless,
  &.borderless:hover {
    border-color: transparent;
    box-shadow: none;
  }

  &.borderless:focus {
    border-color: var(--primary);
    box-shadow: inset 0 1px 2px 0 var(--primary), inset 0 0 0 1px var(--primary);
  }

  &.disabled {
    cursor: not-allowed;
    background-color: var(--primary-gray-desaturated);
    border: 1px solid var(--primary-gray-dark);
    box-shadow: inset 0 1px 2px 0 hsla(209, 9%, 44%, 0.21), inset 0 0 0 1px hsla(209, 9%, 44%, 0.25);

    &:hover,
    &:focus {
      background-color: var(--primary-gray-desaturated);
      border: 1px solid var(--primary-gray-dark);
      box-shadow: inset 0 1px 2px 0 hsla(209, 9%, 44%, 0.21),
        inset 0 0 0 1px hsla(209, 9%, 44%, 0.25);
    }
  }
}

.optionList {
  position: relative;
  cursor: pointer;

  /* 6 elem * 40px = 240px */
  max-height: 240px;
  overflow-y: auto;
  z-index: var(--selectZindex);

  & .noOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    color: var(--secondary-gray);
  }

  & .noOptions:hover {
    box-shadow: none;
    background-color: transparent;
  }
}

.optionItem {
  padding: 12px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: flex;
  white-space: nowrap;
}

.validationText {
  display: block;
  min-height: 20px;
  line-height: 1.43;
  margin: 4px 1px;
  color: var(--destructive);
  font-size: 12px;
}

.hint {
  color: var(--dark-60);
  width: 100%;
  padding: 0 5px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.placeholder {
  color: var(--secondary-gray);
}

.controls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 0 12px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.arrow {
  --arrow-height: 6px;
  width: 0;
  height: 0;
  margin-top: calc(var(--arrow-height) / -2);
  border-top: solid var(--arrow-height) var(--secondary-gray);
  border-left: solid var(--arrow-height) transparent;
  border-right: solid var(--arrow-height) transparent;
  transition: transform 300ms ease !important;
  transform: rotate(-180deg);

  &:hover {
    border-top: solid var(--arrow-height) var(--secondary-gray-dark);
  }
}

.cross {
  content: '✕';
  right: 12px;
  font-size: 12px;
  color: var(--secondary-gray);

  &:hover {
    color: var(--secondary-gray-dark);
  }
}

.multiLabel {
  display: flex;
  align-items: center;
  background-color: var(--primary-gray);
  border-radius: 2px;
  color: var(--secondary-gray-dark);
  padding: 0 8px;
  margin: 8px 8px 0 4px;

  & .cross {
    margin-left: 1rem;
  }
}

.divider {
  display: inline-block;
  width: 1px;
  height: calc(100% - 12px);
  background-color: var(--secondary-gray);
  margin-left: 8px;
  margin-right: 8px;

  &.oneSide {
    margin-left: 0;
  }
}

.icon {
  fill: var(--secondary-gray-dark);
}

// With checkboxes
.checkbox {
  padding: 8px 12px;
}

.checkboxCross {
  content: '✕';
  margin-right: 10px;
  font-size: 12px;
  color: var(--secondary-gray);

  &:hover {
    color: var(--secondary-gray-dark);
  }
}

.checkboxOptionList {
  margin-top: 4px;
}

.checkboxOption {
  &[aria-selected='true'] {
    box-shadow: none;
  }
}

.checkboxBlock {
  pointer-events: none;
  margin: 0px 12px;
}

.checkboxOptionWrapper {
  border: none;
  padding: 7px 0px;

  &:hover,
  &:focus.checkboxOptionWrapper,
  &[aria-selected='true'] {
    box-shadow: none;
    background-color: var(--primary-gray-desaturated);
  }
}

.rotate {
  transform: rotate(0deg);
}
