.router-popup {
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  outline: 0;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);

  .router-popup--inner {
    max-width: 490px;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #fafbfc;
    border-radius: 8px;
    box-shadow: 1px 7px 21px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    padding-bottom: 24px;

    .router-popup--body {
      padding-left: 21px;
      padding-right: 21px;
      margin-bottom: 14px;
    }

    .router-popup--header {
      border-bottom: 1px solid #979797;
      padding: 15px 16px 11px 16px;
      position: relative;
      color: #434343;
      margin-bottom: 21px;

      .router-popup--title {
        display: inline-block;
        font-size: 22px;
        color: #434343;
        text-transform: uppercase;
      }

      .router-popup--nav {
        display: inline-block;
        vertical-align: bottom;
        margin-left: 32px;
        margin-bottom: -12px;
        font-size: 0px;

        .router-popup--nav-item {
          background: #e7e7e7;
          border: 1px solid #979797;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          padding: 8px 19px 8px 19px;
          font-size: 14px;
          color: #434343;
          display: inline-block;
          vertical-align: bottom;
          margin-left: -10px;
          position: relative;
          z-index: 1;
          text-transform: uppercase;
          text-decoration: none;

          &:last-child {
            z-index: 0;
          }

          &.router-popup--nav-item--active {
            background: #fafbfc;
            z-index: 2;
            padding: 10px 25px;
            border-bottom: none;
            font-weight: 700;
          }
        }
      }
    }

    .router-popup--close {
      @include reset-btn();
      position: absolute;
      right: -10px;
      top: -10px;
      font-size: 13px;
      font-family: 'Font Awesome 5 Pro';
      width: 21px;
      height: 21px;
      background: #fefefe;
      border-radius: 50%;
      border: solid 1px #434343;

      &::after {
        content: '\f00d';
      }
    }
  }
}
