.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;

  & path {
    transition: fill 100ms ease-in-out;
  }
}

.label {
  color: var(--white);
  font-size: 14px;
  line-height: 1.25;
  transition: color 100ms ease-in-out;
}

.navigationItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  cursor: pointer;
  color: var(--primary-gray-desaturated);
  transition: background-color 100ms ease-in-out;
  user-select: none;
  font-weight: 600;

  &.inner {
    padding: 8px 14px 8px 54px;
    font-weight: 400;
  }
}

.active {
  .navigationItem {
    background-color: var(--primary-gray-desaturated);

    & .label {
      color: var(--dark-three);
      font-weight: bold;
    }

    & .badge {
      color: white;
    }

    & .icon path {
      fill: var(--caption-dark) !important;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.buttonContainer {
  padding: 10px 24px;
}

.navigationItemContainer {
  color: var(--white);
  font-size: 16px;
  line-height: 1.25;
  padding: 8px 0;
}
