/*
Supports only *-customizable class names

For full list of css class names refer to:
https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-app-ui-customization.html

eg.
.label-customizable {
  color: red;
  padding: 20px;
}
*/
.logo-customizable {
  width: 166px;
  height: 55px;
}
.banner-customizable {
  height: 71px;
  background-color: #fff;
  margin-top: 20px;
  padding: 0;
}
.label-customizable {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 8px;
  color: rgba(33, 43, 54, 0.59);
}
.textDescription-customizable {
  padding: 9px 0 24px;
  text-align: center;
  display: block;
  font-size: 13px;
  color: rgba(33, 43, 54, 0.59);
}
.submitButton-customizable {
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0 29px;
  height: 44px;
  width: 100%;
  color: #fff;
  background: #e87900;
  border-radius: 3px;
  border: none;
  margin: 50px 0 50px 0;
}
.submitButton-customizable:hover {
  color: #fff;
  background-color: rgb(197, 80, 15);
}
.errorMessage-customizable {
  background-color: #f12545;
  color: #fff;
  padding: 12px 15px 13px;
  font-size: 13px;
  border: none;
}
.inputField-customizable {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 36px;
  margin-bottom: 24px;
  color: #000;
  background-color: #fff;
  border: 1px solid #a5a5a5;
  box-shadow: none;
  outline: none;
}
.inputField-customizable:focus {
  border-color: #a5a5a5;
  box-shadow: none;
  outline: none;
}
.redirect-customizable {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.passwordCheck-notValid-customizable {
  color: #f12545;
}
.passwordCheck-valid-customizable {
  color: #5ccb97;
}
.background-customizable {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  background-color: #fff;
  max-width: 426px;
  padding: 0 40px;
  box-shadow: none;
}
