$rt-namespace: 'sl-notif';
$rt-toast-width: 320px !default;
$rt-toast-background: #ffffff !default;
$rt-toast-min-height: 64px !default;
$rt-toast-max-height: 800px !default;

$rt-color-default: #fff !default;
$rt-color-info: #3498db !default;
$rt-color-success: #73cd1e !default;
$rt-color-warning: #f1c40f !default;
$rt-color-error: #e74c3c !default;

$rt-color-progress-default: linear-gradient(
  to right,
  #4cd964,
  #5ac8fa,
  #007aff,
  #34aadc,
  #5856d6,
  #ff2d55
) !default;

$rt-mobile: 'only screen and (max-width : 480px)' !default;
$rt-font-family: sans-serif !default;
$rt-z-index: 9999 !default;

$font-size-base: 1em;
$primary-font: 'Roboto';
// Durations
$fastDuration: 0.1s !default;
$mediumDuration: 0.3s !default;
$slowDuration: 0.5s !default;

// Browser Prefixes - Which CSS prefixes should be used?
$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;

$pale-grey: #f9fafb;
$pale-blue: #dfe3e8;
$light-blue-grey: #c4cdd5;
$white: #fff;
$brick-orange: #c5500f;
$pumpkin: #e87900;

$shadowColor: rgba(0, 0, 0, 0.6) !default;
$c-primary: $pumpkin;
$c-primary-active: $brick-orange;
$c-primary-hover: $brick-orange;
