.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--white);
  top: 10%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, 0);
  border-radius: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  z-index: calc(var(--backgroundOverlayZindex) + 1);
}

.closeIcon {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
